<html>

<head>

  <head>
    <meta charset="utf-8">
    <meta name="author" content="SitePoint">
    <meta name="description" content="The HTML5 Herald">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link rel="stylesheet" href="css/new.css">

  </head>

  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><i class="fas fa-tasks"></i>Xestor de Tarefas</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link"><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link"></a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="index.html" class="btn btn-outline-light my-3 my-sm-1">Login</a>
        </form>
      </nav>
      <div class="container">
        <br>

        <br>
        <form @submit.prevent="register">
          <div class="form">
            <div class="form-group col-sm-3">
              <label>Username</label>
              <input required v-model="username" type="usuario" class="form-control">
            </div>
            <div class="form-group col-sm-5">
              <label>Email</label>
              <input required v-model="email" type="email" class="form-control">
            </div>
            <div class="form-group col-sm-3">
              <label>Password</label>
              <input required v-model="password" type="password" class="form-control" autofocus autocomplete="">
            </div>
            <div class="form-group col-sm-3">
              <label>Password Confirmed</label>
              <input required type="password" v-model="password2" class="form-control" autofocus autocomplete="">
            </div>
            <div class="form-group col-sm-3">
              <label>First Name</label>
              <input required v-model="first_name" type="first_name" class="form-control">
            </div>
            <div class="form-group col-sm-3">
              <label>Last Nanme</label>
              <input required v-model="last_name" type="last_name" class="form-control">
            </div>
            <div class="form-group col-sm-3">
              <label><input required v-model="is_staff" type="checkbox"> Checked</label>
            </div>
            <div class="form-group col-sm-3">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
        <!-- <pre>{{ $data }}</pre> -->
      </div>
    </div>

    <script src="js/new_user.js"></script>
  </body>

</html>
