body {
background-image: url(imagenes/2.jpg);

background-position: center center;

background-repeat: no-repeat;

background-attachment: fixed;

background-size: cover;

}
label{
  color: white
}
a {
  color: white
}

/* arriba{
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: 1em;
  margin-right: .5em;
} */

/* form
{
   padding:2px;
   cursor:pointer;
   display:block;
   width:290px;
   text-align:left;
   margin: 0 auto;
} */
