body {
background-image: url(imagenes/fondocolores.gif);

background-position: center center;

background-repeat: no-repeat;

background-attachment: fixed;

background-size: cover;

}
label{
  color: white
}
a {
  color: white
}
